%h1 Listing pets

%table
  %thead
    %tr
      %th Name
      %th Age
      %th Image
      %th Kind
      %th Interned
      %th Created
      %th Tags
      %th User
      %th
      %th
      %th

  %tbody
    - @pets.each do |pet|
      %tr
        %td= pet.name
        %td= pet.age
        %td= pet.image
        %td= pet.kind
        %td= pet.interned
        %td= pet.created
        %td= pet.tags
        %td= pet.user
        %td= link_to 'Show', pet
        %td= link_to 'Edit', edit_pet_path(pet)
        %td= link_to 'Destroy', pet, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Pet', new_pet_path
