!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ::Vet4pet::
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
%body
  - if flash[:notice]
    .alert-message.warning
      %p
        = flash[:notice]
  - if flash[:error]
    .alert-message.error
      %p
        = flash[:error]
  %div.container
    %div.section.group
      #header
        %a{ href: '/'} Home
        %a{ href: '/about'} About Us
        %a{ href: '/map'} Map
        %a{ href: '/appointment/new'} Appointment
        =render partial: 'site/loginbar'
      %div.col.span_1_of_2
        This is column 1
        %p
          = link_to 'Facebook', '/fb_path/'
      %div.col.span_2_of_2
        =yield
      #footer
        %br
        %span.copy Copyright &copy; 2015
        %a{ href: '/site/about'} Read more


